* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}
#header-nav {
    background-color: gray;
}
#logo {
    color: black;
    font-weight: bold;
}
h1 {
    text-align: center;
    font-weight: bolder;
    margin: 1rem 0;
}
main {
    padding: 1rem;
}
.section {
    margin-bottom: 1rem;
    border: 2px solid black;
    padding: 1rem;
    background-color: gray;
    position: relative;
}
.section-title {
    text-align: center;
    font-weight: bolder;
    padding: 0.5rem;
}

/* Style du menu */
.navbar-nav {
    background-color: white; /* Arrière-plan blanc */
    text-align: center; /* Texte centré */
}
.navbar-nav > li > a {
    color: black; /* Texte en noir */
    font-weight: bold; /* Texte en gras */
}
/* Margin between sections */
.section {
    width: 30%;
    margin-right: 1rem; /* Ajouter un petit espacement entre les sections */
}
@media (max-width: 991px) {
    .section {

width: 48%;    }
    .section:nth-child(2) {
        padding-right: 1rem;
  }
    .section:nth-child(3) {
        width: 100%; /* Prendre toute la largeur pour la troisième section sur tablette */
    }
}
@media (max-width: 767px) {
    .section {
        margin-right: 0; /* Retirer l'espacement entre les sections pour les mobiles */
        width: 100%; /* Occuper toute la largeur pour les mobiles */
    }
}